*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.board-name{
    font-size: 35px;
    padding:8px;
}
.boardName{
    display: flex;
    justify-content: center;
    background-color: blue;
}
.list{
    min-height:120px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    background-color: green;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    /* background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg") */

 }
.list-container{
    display: flex;
   flex-wrap: wrap;
}
.add-list{
    font-size: 35px;
    margin: 5px;
    height: 30px;
    width:200px;
    color:whitesmoke;
    background-color: rgb(141, 131, 137);
    /* border: 2px solid blue; */
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.new-card{
    color:black;
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    width:15%;
    
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    width:15%;
    
}
.input-name{
    height: 30px;
    width:180px;
}

.btn-height{
    width: 60px;
}
.delete{
    cursor: pointer;
}

button{
    /* background-color: rgb(29, 21, 151);
    padding: 5px;
    height: 40px;
    width: 50px; 
   border-radius: 5px;
   cursor: pointer; */
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}


.input-name{
    height: 30px;
    border: 2px green solid;
    background-color:thistle;
    border-radius: 10px;
}
.btn{
    display: flex;
    justify-content: space-around;
    height: 25px;
    border-radius: 10px;
   
}
.create{
    margin-left: 60px;
}
.cancel{
    margin-left: 60px;
}
.btn-height{
    width: 60px;
}
.delete{
    cursor: pointer;
    font-size: 30px;
}
.list{
    display: flex;
    flex-direction: column;
justify-content: flex-start;
}
.cards{
    color:black;
    border: 2px solid wheat;
    margin: 5px;
    cursor: pointer;

}
.new-card{
    color:gray;
    border: 2px solid wheat;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.createCard{
display: none;
height: 25px;
width:100%;
color:red;
margin: 20px;

}
button{
    background-color: tomato;
    padding: 5px;
}
.btn{
    margin: 5px;
}

.addButton{
    margin-left: 20px;
    height: 30px;
    width: 60px;
    font-size: 16px;
}
.inputCard{
    height: 30px;
    background-color: rgb(126, 22, 121);
}

/* checklist */

.container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}

.outline{
    width: 800px;
    height: 500px;
    font-size: 18px;
   background-color: wheat;
    padding: 20px;
    display: flex;

   
}
.check-add{
    height:500px;
    width: 50%;
    /* background-color: blue; */
}
.check-add h4{
color: red;
font-size: 28px;
}
.con{
    display: flex;
    margin-left:300px;
    flex-direction: column;
   
 }
 .con h4{
     color:gray;
     margin: 10px;
     margin-left: 50px;
 }
 

.close{
   padding: 10px;
   width: 100px;
   cursor: pointer;
   margin: 5px;
}

.check{
   
    width:20%;
    cursor: pointer;
    margin:20px;
    font-size: 18px;
    padding: 5px;
}
.checklist{
    cursor: pointer;
    padding: 10px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}
.input-check{
    margin:5px;
    height: 20px;
    border:2px solid green;
}

/* delete */
.deleteList{
    width:25%;
    border-radius: 20px;
    background-color:green;
    margin-left: 220px;
    margin-top: -20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.delCard{
height: 30px;
width:30px;
font-size: 20px;
float:right;
background-color: blue;
border-radius: 5px;
cursor: pointer;
}

button{
    background-color: rgb(29, 21, 151);
    padding: 5px;
    height: 40px;
    width: 50px; 
   border-radius: 5px;
   cursor: pointer;
}
/* 
input{
    height: 70px;
    background-color: purple;
    margin: 10px;
    border: red 2px solid;
    border-radius: 5px;
} */

.check-add{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding: 20px;
}
.singleChecklist{
   display: flex;
   flex-direction: column;
   /* border: 2px solid red; */
   margin: 5px;
   background-color: gray;
}
.checkCon{
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.checkItem{
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.inputItem{
    height: 25px;
    border: 2px solid rgb(44, 129, 48);
}
.checkitemcontainer{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}