*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: blue; */
    background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:green;
}
h1{
    color:red;
}
.head{
    display: flex;
    justify-content: center;
    font-size: 22px;
}
h2{
    color: aliceblue;
}
.board{
    height:150px;
    width: 300px;
    margin: 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.create-board{
    height:150px;
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    background-color: blue;
}

.board-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:15%;
    height: 200px;
    width: 240px;
    background-color: rgb(165, 141, 161);
    
}
.input-name{
    height: 30px;
    width:200px;
    /* margin-left: 30px; */
}
/* .btn{
    display: flex;
    justify-content: space-between;
    height: 25px;
    color: green;
    
   
}
.btn-height{
    width: 60px;
} */
.delete{
    cursor: pointer;
    font-size: 30px;
    
}
.boardName{
    font-size: 22px;
}
/* .cancel{
    margin-left: 80px;
    margin-right: 40px;
}
.create{
    margin-left: 40px;
} */
/* 
button{
    background-color: green;
    padding: 5px;
    height: 40px;
    width: 60px; 
   border-radius: 5px;
   cursor: pointer;
} */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
input{
    height: 70px;
    background-color: purple;
    margin: 10px;
    border: red 2px solid;
    border-radius: 5px;
}
